<nav>
  <ul class="header__list">
    <li><a href="#get-started">Get Started</a></li>
    <li><a href="#learn-more">Learn More</a></li>
    <li><a href="#get-involved">Get Involved</a></li>
    <li><a href="https://uselessshit.co/resources/nostr/" target="_blank">FAQ</a></li>
    <li><a href="#translations" title="Translations"><i class="fa fa-language"></i></a></li>
    <li><a href="https://github.com/nostr-resources/nostr-resources.github.io" title="GitHub"><i class="fa fa-code-fork"></i></a></li>
  </ul>
</nav>
